<!--@author Dustin Cassell
    Gonzaga CPSC 491
    Last Modified 10 December 2021-->
<!DOCTYPE html>
<html>
    <head>
        <title>Student List Form</title>
    </head>
    <body>
        <h1>Add Student Form</h1>
        <div id="form_div">
            <form id="student_form" method="post">
                {{% csrf_token %}}
                {{ form.as_p }}
                <input type="submit" id="submit_button" value="save">
            </form>
        </div>
        <header1>Student List</header1>
        <div id="table_div">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>ID Number</th>
                        <th>Class Standing</th>
                        <th>Major</th>
                        <th>GPA</th>
                        <th>Date Created</th>
                        <th>Date Modified</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in object_list %} <!--django specific for loop that translates into python-->
                        <tr>
                            <td>{{ student.firstname }}</td>
                            <td>{{ student.lastname }}</td>
                            <td>{{ student.idnumber }}</td>
                            <td>{{ student.classstanding }}</td>
                            <td>{{ student.major }}</td>
                            <td>{{ student.gpa }}</td>
                            <td>{{ student.datecreated }}</td>
                            <td>{{ student.datemodified }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>